.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  font-family: "Montserrat",tahoma,helvetica,sans-serif;
  font-weight: 800;
  background: #498144;
  border: 0;
  color: white;
  width: 200px;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  text-transform: uppercase !important;
  font-size: 11px !important;
  letter-spacing: 1.2px;
  font-weight: 400;
  display: block;
  text-decoration: none;
  text-align: center;
}

.button:focus, .button:active {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button--green {
  background-color: #498144;
  color: #FFFFFF;
}

.button--black {
  background-color: #252525;
  color: #FFFFFF;
}

.button--large {
  width: 100%;
}

.button--small {
  width: 250px
}
