.homepage__hero {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage__cta {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
}