.navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border-top: 5px solid #25a56b;
  border-bottom: 1px solid #f5f5f5;
}

@media ( max-width: 900px) {
  .navbar {
    display: none;
  }
}

.nav-container {
  margin: 0 auto;
  padding: 0px;
}

.mobile-menu {
  padding: 20px;
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  min-height: 100%;
  bottom: 0px;
  left: 0px;
  right: 0;
  z-index: 111111111;
  border-top: 5px solid #498144;
  overflow-y: scroll;
  padding-top: 12px;
}

.mobile-menu__item {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-bottom: 1px solid #f5f5f5;
}

.mobile-menu__item img {
  height: 15px;
  margin-right: 10px;
}

.mobile-menu__header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-mobile {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 5px solid #498144;
  border-bottom: 1px solid #f5f5f5;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-mobile__location {
  padding: 6px;
  border-bottom: 1px solid #f5f5f5;
}

@media (min-width: 901px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-mobile__location {
    display: none;
  }

  .nav-container {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .mobile-menu {
    display: none;
  }
}

.navbar__wrapper {
  position: relative;
  z-index: 4;
}

.navbar__logo-wrap {
  display: flex;
  align-items: center;
}
.navbar__logo {
  height: 30px;
}

.navbar__location {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar__location:hover {
  cursor: pointer;
}

.navbar__logo__divider {
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  width: 1px;

  background-color: #f5f5f5;
}

.navbar__location-selector {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar__location-selector:hover {
  cursor: pointer;
}

.navbar__location-selector img {
  height: 12px;
  width: 12px;
  margin-left: 10px;
}

.navbar__location__dropdown {
  position: absolute;
  width: 350px;
  top: 80px;

  border: 1px solid #d4d1d1;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 #e5e5e5;
}

.navbar__location__dropdown__header {
  display: flex;
  align-items: center;
  padding-left: 18px;
  height: 40px;

  opacity: 0.45;
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar__location__dropdown__item {
  display: flex;
  align-items: center;
  padding-left: 18px;
  height: 40px;

  border-bottom: 1px solid #f5f5f5;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar__location__dropdown__item:hover {
  background-color: #f5f5f5;
}

.navbar__location__dropdown__item--no-border {
  border-bottom: none;
}

.navbar__link {
  margin-left: 22px;

  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar__link:hover {
  opacity: 0.8;
}

.navbar__subnav {
  position: fixed;
  top: 60px;
  height: 40px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
}

.navbar_subnav__section {
  display: flex;
  align-content: center;
}

.navbar__subnav__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease;
}

.navbar__subnav--left .navbar__subnav__link {
  margin-right: 40px;
}

.navbar__subnav--right .navbar__subnav__link {
  opacity: 0.45;
  margin-left: 40px;
}

@media (max-width: 900px) {
  .navbar__location-selector--dt {
    display: none;
  }
}
