.mapboxgl-missing-css {
  display: none;
}

.access-wall {
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000000000000000;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  background-color: #252525;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: white;
  font-size: 24px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-image: repeating-linear-gradient(120deg, rgb(17, 17, 17), rgb(17, 17, 17) 1px, rgb(32, 32, 32) 1px, rgb(32, 32, 32) 8px);

}

.page-header span {
  font-size: 22px;
}

@media (max-width: 900px) {
  .page-header {
    font-size: 28px;
    line-height: 34px;
  }
}
/* Board Page Header Styles */

/* mobile */

.board-page-mobile-header {
  background: linear-gradient(rgba(01, 01, 01, 0.7), rgba(01, 01, 01, 0.7)),
    url('../images/surfer.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-headline {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.mobile-headline__a {
  font-size: 15px;
}

.mobile-headline__b {
  font-size: 28px;
  margin-bottom: 32px;
}

.mobile-headline__explore {
  margin-bottom: 8px;
  font-size: 14px;
}

.mobile-headline__dropdown {
  display: flex;
  align-items: center;
  max-width: 320px;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  color: #404040;
  font-size: 14px;
  justify-content: space-between;
}

.mobile-headline__dropdown:hover {
  cursor: pointer;
}

.mobile-headline__dropdown--text {
  color: #404040;
  font-size: 14px;
}

.mobile-menu-dropdown {
  background-color: #ffffff;
  max-width: 320px;
  width: 100%;
  position: absolute;
  top: 291px;
  z-index: 4;
}

@media (min-width: 901px) {
  .mobile-menu-dropdown {
    top: 333px;
  }
}

.boardpage-location--mobile {
  color: #404040;
  height: 45px;
  border-top: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 12px;
  transition: 0.2s ease;
}

.boardpage-location--mobile:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

/* end mobile */

.board-page-header {
  background: linear-gradient(rgba(01, 01, 01, 0.4), rgba(01, 01, 01, 0.5)),
    url('../images/surfer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  background-color: #f5f5f5;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
}

.board-page-header__wrap {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 60px;
}

.board-page-location {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 60px;
}

.board-page-location__headline {
  margin-bottom: 12px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

.board-page-location__locations {
  display: flex;
}

.boardpage-location__area {
  color: #ffffff;
  font-size: 14px;
  height: 26px;
  transition: 0.2s ease;
  font-weight: 300;
}

.boardpage-location__area:hover {
  opacity: 0.7;
  cursor: pointer;
}

.line-1 {
}

.line-1__a {
  line-height: 22px;
}

.line-1__b {
  font-size: 32px;
  line-height: 33px;
}

.line-2 {
  display: flex;
}

.line-2-col-1 {
}

.line-2-col-2 {
  margin-left: 12px;
}

.line-2-col-2-a {
  font-size: 32px;
  line-height: 33px;
}

.line-2-col-2-b {
  font-size: 32px;
  line-height: 33px;
}

@media (min-width: 1201px) {
  .board-page-mobile-header {
    display: none;
  }
}

@media (max-width: 1200px) {
  .board-page-header {
    display: none;
  }
}

/* END Board Page Header Styles */

.t-primary {
  letter-spacing: 0.92px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.site-container {
  padding-top: 60px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.site-container--sm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .site-container,
  .site-container--sm {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 100px;
  }
}

.authentication-header {
  margin-bottom: 12px;
}

.authentication-field {
  margin-bottom: 12px;
  display: block;
  height: 44px;
  padding: 0 15px;
  font-size: 14px;
  width: 100%;
  border: 2px solid #e7eaec;
  border-radius: 6px;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  color: #152235;
}

.authentication-field:focus,
.authentication-field:active {
  outline: none;
}

.authentication-label {
  font-size: 10px;
  letter-spacing: 2px;
  color: #404040;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease;
}

hr {
  margin-top: 30px !important;
}

.auth-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  font-weight: 800;
  background: #000;
  border: 0;
  color: white;
  width: 200px;
  height: 44px;
  line-height: 30px;
  border-radius: 4px;
  text-transform: uppercase !important;
  font-size: 11px !important;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 44px;
  transition: 0.2s ease;
}

.auth-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.auth-button--black {
  background-color: #404040;
}

#_kmts form button[type='submit'] {
  background-color: #000 !important;
}

.publisher-anchor-color a {
  color: black !important;
}

.inquiry-popup {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0px;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  position: relative;
  max-width: 600px;
  height: 300px;
  width: 100%;

  -webkit-box-shadow: -4px 4px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 18px -7px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.message-box__content {
  padding: 20px;
}

.message-box__header {
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.message-box__textarea {
  padding: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #cccccc;
}

.message-box__input {
  padding: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  height: 38px;
  resize: none;
  border: 1px solid #cccccc;
}

.message-box__input:focus,
.message-box__input:active {
  outline: none;
}

.message-box__button {
  height: 38px;
  background-color: #111;
  color: white;
  font-size: 14px;
  width: 160px;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  border: none;
}

.offers__header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;

  background-color: #111;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.offers__row {
  padding-left: 12px;
  padding-right: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  border: 1px solid #111;
  border-top: none;
  font-size: 12px;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .offers__row {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.boards-page-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.boards-pages-secondary-container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (max-width: 860px) {
  .board-map {
    display: none;
  }

  .boards-page-container {
    width: 100%;
  }

  .boards-pages-secondary-container {
    justify-content: center;
  }
}

.ad-container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.ad {
  border-radius: 4px;
  margin-bottom: 18px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s ease;
}

.ad:hover {
  -webkit-box-shadow: -2px 3px 40px -2px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -2px 3px 40px -2px rgba(0, 0, 0, 0.28);
  box-shadow: -2px 3px 40px -2px rgba(0, 0, 0, 0.28);
  opacity: 0.9;
}

/* NEW HOMEPAGE */
.hp-hero {
  background-image: url('../images/bike-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 520px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hp-hero__title {
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 59px;
  line-height: 80px;
}

.hp-hero__wave {
  height: 100px;
}

.hp-hero__play {
  height: 50px;
}

.hp-copy {
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  font-weight: 400;
}

.hp-alert-bar {
  background-color: #25a56b;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', tahoma, helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  margin-bottom: 100px;
}

.hp-section__header {
  text-align: center;
  font-weight: 500;
  line-height: 50px;
  font-size: 36px;
  margin-bottom: 32px;
}

.hp-section__copy {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  font-weight: 400;
}

.hp-section__features {
  margin-top: 48px;
  margin-bottom: 200px;
}

.hp-features {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hp-feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  text-align: center;
  margin-left: 22px;
  margin-right: 22px;
}

.hp-feature img {
  height: 40px;
  margin-bottom: 12px;
}

.hp-feature__spacer {
  width: 50px;
  height: 4px;
  background-color: #25a56b;
  margin-bottom: 12px;
}

.hp-sell_img {
  width: 100%;
  max-width: 600px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0.9;
}

.hp-buy_img {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.9;
}

.hp-sell_info {
  max-width: 520px;
  height: 250px;
  position: relative;
  z-index: 2;
  top: 50px;
  margin-bottom: 100px;
  background-color: #25a56b;
  display: flex;
  align-items: center;
  padding: 40px;
  line-height: 34px;
}

.hp-buy_info {
  max-width: 520px;
  height: 250px;
  position: relative;
  z-index: 2;
  top: 225px;
  margin-bottom: 100px;
  background-color: #25a56b;
  display: flex;
  align-items: center;
  padding: 40px;
  line-height: 34px;
}

.hp-section__sell {
  margin-bottom: 300px;
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hp-section__buy {
  margin-bottom: 100px;
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hp-section__sell-caption {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 20px;
}

.hp-section__sell-caption label {
  color: #25a56b;
  font-weight: 500;
  font-size: 14px;
}

.hp-section__sell-title {
  font-size: 60px;
  font-weight: 600;
  position: relative;
  z-index: 2;
  line-height: 80px;
}

.hp-sell_waves {
  height: 30px;
  opacity: 0.8;
}

.hp-sell__cta {
  display: flex;
  font-weight: 600;
  position: absolute;
  bottom: -25px;
  right: 0px;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 3px solid #25a56b;
}

.hp-sell__cta i {
  padding-left: 8px;
}
